* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #E1E1E1;
}

body {
    background-color: #eee;
    font: 12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
    color: #e3e2e2;
}

.hide,
.none {
    display: none;
}

.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}