.w {
    width: 1358px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

header {
    min-width: 1358px;
    transition: all .6s;
}

header img.fl {
    float: left;
    width: 167px;
    height: 60px;
    margin-top: 10px;
}

header.big {
    height: 720px;
    background: url("../images/header_big_bg.jpg") no-repeat center;
}

header.small {
    height: 360px;
    background: url("../images/header_small_bg.jpg") no-repeat center;
}

header .head_nav {
    position: relative;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

header .dark_mark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 131px;
    background: url(../images/dark-jianbian.png) repeat;
    background-position: center top;
    z-index: 1;
}

header ul.fl {
    width: 55%;
    margin-left: -4px;
}

header ul.fl li {
    float: left;
    width: 20%;
    height: 78px;
    padding-top: 15px;
    text-align: center;
    letter-spacing: 1px;
}

header ul.fl li>a {
    display: block;
    width: 100%;
    width: 100%;
}

header .head_title {
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
}

header .head_subtitle {
    display: block;
    font-size: 11px;
    color: #AEAEAE;
}

@keyframes topin {
    0% {
        transform: translateY(-10px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.head_sub_nav {
    /* display: none; */
    top: 0;
    width: 100%;
    padding: 78px 0 32px 0;
    background: url(../images/dark60-bg-repeat.png);
    z-index: 1;
    overflow: hidden;
    animation: topin .3s;
    /* animation-delay: 1s; */
}

.head_sub_nav_inner {
    padding: 10px 450px 0 160px;
    overflow: hidden;
}

.head_sub_nav_inner ul {
    float: left;
    width: 20%;
}

.head_sub_nav_inner ul>li {
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
}

.head_sub_nav_inner ul>li a {
    display: block;

}

.head_sub_nav_inner ul>li a:hover {
    color: #e2bc6a;

}

.head_sub_nav_inner i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -2px 2px 0 0;
    line-height: 29px;
    vertical-align: middle;
    background: url(../images/topfoot-spr.png) no-repeat;
}

.head_sub_nav_inner .icon_new {
    background-position: -381px -65px;
}

.head_sub_nav_inner .icon_hot {
    background-position: -347px -84px;
}

.head_nav .fr li {
    float: left;
    height: 78px;
    font-size: 16px;
}

.icon_search,
.icon_phone,
.icon_user {
    display: inline-block;
    background: url(../images/topfoot-spr.png) no-repeat;
}

.head_nav .icon_search {
    width: 21px;
    height: 21px;
    margin: 28px 34px 0 0;
    background-position: -381px -39px;
}

.head_nav .icon_phone {
    width: 16px;
    height: 24px;
    margin: 26px 43px 0 0;
    background-position: -303px -84px;
}

.head_nav .unlogin {
    width: 244px;
    height: 78px;
    line-height: 78px;
    color: #FEFEFE;
}

.head_nav .icon_user {
    width: 48px;
    height: 48px;    
    margin: 14px 10px 0 0;
    background-position: -216px -117px;
}

.head_nav .icon_user img {
    width: 36px;
    height: 36px;
    margin: -33px 0px 0px 6px;
    border-radius: 18px;
}

.head_nav .fr .head_login {
    color: #FFF3D0;
}