main {
    height: 1920px;
}

.top_wrap {
    width: 1358px;
    height: auto;
    padding-top: 40px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.promo {
    width: 820px;
    height: 380px;
    overflow: hidden;
}

.promo_img_list {
    width: 4100px;
    transition: margin .2s;
}

.promo_img_list .item {
    float: left;
}

.promo_nav {
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #424242;
}

.promo_nav .item {
    float: left;
    width: 20%;
    height: 40px;
    background-color: #E3E2E2;
}

.promo_nav .selected {
    background-color: #f7f6f6;
    border-bottom: 2px solid #cea861;
    color: #ab8e66;
}

.news {
    width: 496px;
    height: 380px;
}

.new_tab.tab {
    border-bottom: 1px solid #e0e2e2;
    font-size: 18px;
}

.tab .item {
    position: relative;
    float: left;
    height: 100%;
    letter-spacing: 1px;
    color: #676767;
    cursor: pointer;
}

@keyframes scalein-2 {
    0% {
        opacity: .5;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.tab .item:after {
    display: none;
    content: '\0020';
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100%;
    height: 7px;
    background: url(../images/tab-title-selected.png) no-repeat center;
    animation: scalein-2 .2s;
}

.tab .item.selected {
    font-weight: 700;
    color: #1DA6BA;
}

.tab .item.selected:after {
    display: block;
}

.new_tab {
    height: 35px;
    line-height: 24px;
}

.new_tab .item {
    width: 40px;
    margin-right: 74px;
}

.new_tab .item:last-child {
    margin: 0;
}

.new_content .item {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e0e2e2;
    letter-spacing: 1px;
}

.new_content .item:last-child {
    border-bottom: 0;
}

.new_content .item.first {
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0px;
    color: #1DA6BA;
    background: url(../images/index-spr.png) no-repeat;
    background-position: 0 -458px;
    overflow: hidden;
}

.new_content .item.first a {
    color: #1DA6BA;
}

.new_content .item.first a:hover {
    color: #bb9a6c;
}

.new_content .item .tag {
    float: left;
    width: 37px;
    height: 20px;
    margin-top: 10px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid;
    text-align: center;
}

.new_content .item .new_title {
    float: left;
    width: 370px;
    margin-left: 20px;
    font-size: 14px;
    color: #424242;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.new_content .item .new_date {
    float: right;
    font-size: 14px;
    color: #9D9D9D;
}

.inform .tag {
    color: #bb9a6c;
    border: 1px #c5ab86 solid;
}

.inform .new_title:hover {
    color: #bb9a6c;
}

.video .tag {
    color: #e9852d;
    border: 1px #e9852d solid;
}

.video .new_title:hover {
    color: #e9852d;
}

.sport .tag {
    color: #6388c5;
    border: 1px #97afc5 solid;
}

.sport .new_title:hover {
    color: #6388c5;
}

.study .tag {
    color: #4ba36a;
    border: 1px #4ba36a solid;
}

.study .new_title:hover {
    color: #4ba36a;
}

.entertain .tag {
    color: #1da6ba;
    border: 1px #69c5d2 solid;
}

.entertain .new_title:hover {
    color: #1da6ba;
}

.news .content_item {
    display: none;
    width: 496px;
    height: 305px;
}

.content_item.selected {
    display: block;
}

.news .more {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: #e3e2e2;
}

.news .more:hover {
    border-radius: 4px;
    background-color: #dad8d8;
}

.news .more .s1 {
    color: #676767;
}

.news .more .s2 {
    color: #7ea1a6;
}

.hot_act {
    width: 820px;
    height: 335px;
    margin-top: 50px;
}

.top_tab {
    position: relative;
    line-height: 35px;
    font-size: 16px;
}

.top_tab .tab_title {
    float: left;
    font-size: 24px;
    color: #0B0B0B;
}

.top_tab .tab_title::before {
    content: '\0020';
    position: relative;
    display: inline-block;
    top: 7.5px;
    left: -6px;
    width: 4px;
    height: 28px;
    margin-right: 4px;
    background-color: #1DA6BA;
}

.top_tab .tab {
    float: right;
    width: 692px;
    font-size: 16px;
    border-bottom: 1px solid #e0e2e2;
}

.top_tab .tab .item {
    margin-right: 40px;
}

.top_tab .more {
    float: right;
    font-size: 12px;
    color: #7ea1a6;
}

.top_tab .more:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #1da6ba;
}

.hot_act .content_item {
    display: none;
    width: 840px;
    height: 278px;
    margin-top: 21px;
}

.hot_act .content_item.selected {
    display: block;
}

.content_item .act_item {
    position: relative;
    float: left;
    width: 193px;
    height: 100%;
    margin-right: 16px;
    background-color: #fefefe;
    transition: all .2s;
}

.content_item .act_item:hover {
    transform: translateY(-3%);
}

.content_item .act_title {
    padding: 4px 10px;
    font-size: 14px;
    color: #424242;
}

.content_item .act_item:hover .act_title {
    color: #1da6ba;
}

.content_item .act_date {
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 174px;
    font-size: 12px;
    color: #1da6ba;
}

main section.top_wrap .icon_new {
    width: 30px;
    height: 15px;
    background: url(../images/comm-spr.png) no-repeat;
    background-position: -301px -46px;
}

.content_item .icon_new {
    float: right;
    margin-top: 2px;
}

.content_item .act_mask {
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
}

.content_item .mask_inner {
    display: none;
    height: 207px;
    line-height: 207px;
    text-align: center;
    background: url(../images/dark70-bg-repeat.png) repeat;
    transition: all .2s;
}

@keyframes buttomIn {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.content_item .act_item:hover .mask_inner {
    display: block;
    animation: buttomIn .2s;
}

.content_item .hover_bg {
    position: absolute;
    top: 3px;
    right: 1.5px;
    display: block;
    width: 188px;
    height: 200px;
    background: url(../images/comm-spr.png) no-repeat;
}

.hover_act_info {
    display: inline-block;
    padding: 0 12px;
    vertical-align: middle;
    line-height: 1.5;
}

.hover_act_info .p1 {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
    color: #cdbe91;
}

.hover_act_info .p2 {
    font-size: 12px;
    color: #9d9c9c;
}

.gamefunc {
    width: 496px;
    height: 335px;
    margin-top: 49px;
}

.gamefunc li {
    float: left;
    text-align: center;
    cursor: pointer;
}

.gamefunc .down_video {
    display: block;
    width: 366px;
    height: 168px;
    margin-right: 12px;
    transition: filter .5s;
}

.receive:hover,
.down_video:hover {
    filter: brightness(1.15);
}

.gamefunc .newbie,
.receive {
    width: 118px;
    height: 76px;
    margin-bottom: 16px;
    line-height: 76px;
    background: url(../images/index-spr.png) no-repeat;
    background-position: -193px -316px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    transition: filter .5s;
}

.gamefunc .hover_inner {
    display: none;
    position: absolute;
    top: 0;
    width: 118px;
    height: 76px;
    font-size: 12px;
    color: #424242;
    background-color: #fff;
}

.gamefunc .newbie:hover .hover_inner {
    display: block;
}

.gamefunc .hover_inner div {
    float: left;
    width: 50%;
    height: 70px;
    line-height: normal;
}

.gamefunc .hover_inner div:hover {
    color: #0da0b4;
}

.gamefunc .hover_inner div:first-child {
    border-right: 1px solid #eeeeee;
}

.gamefunc i[class^="icon"] {
    display: block;
    width: 20px;
    height: 22px;
    background: url(../images/comm-spr.png) no-repeat;
}

.gamefunc .hover_inner i {
    margin: 16px auto 6px auto;
}

@keyframes scale1 {

    0%,
    10%,
    50%,
    100% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.9);
    }

    40% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.15);
    }
}

.gamefunc .hover_inner div:hover i {
    animation: scale1 1.3s;
}

.gamefunc .hover_inner .icon_zhiyin {
    background-position: -244px -72px;
}

.gamefunc .hover_inner .icon_gift {
    background-position: -285px -99px;
}

.gamefunc .item {
    width: 112px;
    height: 68px;
    line-height: 68px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    color: #424242;
    transition: box-shadow .2s;
}

.gamefunc .item:hover i {
    animation: scale1 1.3s;
}

.gamefunc .item:hover .icon_new {
    animation: none;
}

.gamefunc .item:hover {
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;
    color: #0da0b4;
}

.gamefunc .item i {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
}

.gamefunc .item:nth-child(4n+3) {
    margin-right: 0;
}

.gamefunc .item .icon_zxkf {
    background-position: -316px -12px;
}

.gamefunc .item .icon_zxdt {
    background-position: -219px -72px;
}

.gamefunc .item .icon_yxzl {
    background-position: -343px -12px;
}

.gamefunc .item .icon_xgzd {
    background-position: -193px -72px;
}

.gamefunc .item .icon_ydzy {
    background-position: -280px -125px;
}

.gamefunc .item .icon_glzx {
    background-position: -371px -12px;
}

.gamefunc .item .icon_lolyz {
    background-position: -274px -46px;
}

.gamefunc .item .icon_wxbd {
    background-position: -193px -46px;
}

.gamefunc .icon_new {
    position: absolute;
    top: 0;
    left: 0;
}

.new_hero_skin {
    width: 820px;
    height: 254px;
    margin-top: 66px;
}

.new_hero,
.new_skin {
    position: relative;
    width: 402px;
    height: 100%;
}

.new_hero {
    float: left;
    background: url(../images/new_hero.jpg) no-repeat;
}

.new_skin {
    float: right;
    background: url(../images/new_skin.jpg) no-repeat;
}

.new_hero_skin .lable {
    display: inline-block;
    height: 20px;
    padding: 0 6px;
    margin: 10px 0 0 9px;
    border-radius: 2px;
    background-color: #000;
    font-size: 12px;
    color: #cdbe91;
}

.new_hero_skin .pic_mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 133px;
    padding: 0 17px 20px;
    background: url(../images/pic-mask-0.png);
}

.new_hero_skin .hero_skin_intro {
    margin-top: 75px;
    font-size: 16px;
    font-weight: 700;
    color: #cdbe91;
}

.new_hero_skin .hero_skin_name {
    font-size: 14px;
    color: #cfcfcf;
}

.new_hero:hover .hover_hero_mask {
    display: block;
}

.new_hero .hover_hero_mask {
    display: none;
    position: absolute;
    top: 0;
    width: 402px;
    height: 254px;
    background: url(../images/dark70-bg-repeat.png);
    animation: buttomIn .2s;
}

.new_hero .hover_hero_mask .hover_inner {
    width: 396px;
    height: 248px;
    padding: 25px;
    margin: 3px auto 0 auto;
    background: url(../images/index-spr.png) no-repeat;
}

.hover_hero_mask .hover_hero_name {
    font-size: 18px;
    color: #cdbe91;
}

.hover_hero_mask .btn_more {
    position: absolute;
    bottom: 18px;
    width: 154px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #ffdb8b;
    background: url(../images/index-spr.png);
    background-position: -401px -179px;
    text-align: center;
}

.btn_more .arrow {
    background-position: -362px -99px;
}

@keyframes scale2 {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.new_skin:hover .hover_skin_video {
    display: block;
    animation: scale2 .3s;
}

.hover_skin_video,
.hover_version {
    display: none;
    position: absolute;
    top: -20px;
    left: -16px;
    width: 434px;
    background-color: #fff;
    box-shadow: 0 0 20px #aaa;
}

.hover_skin_video video {
    display: block;
    width: 434px;
}

.info {
    height: 64px;
    padding: 11px 14px;
}

.info .title {
    font-size: 16px;
    color: #0b0b0b;
}

.info .subtitle {
    font-size: 12px;
    color: #a1a1a2;
}

.info .more {
    position: absolute;
    right: 10px;
    bottom: 18px;
    padding: 3px 14px;
    border: 1px solid #bb9a6c;
    font-size: 14px;
    color: #bb9a6c;
    text-align: center;
    transition: background-color .2s;
}

.info .more:hover {
    color: #fefefe;
    background-color: #bb9a6c;
}

.new_version {
    width: 496px;
    height: 254px;
    margin-top: 66px;
}

.new_version li {
    float: left;
}

.new_version .version {
    width: 240px;
    height: 120px;
    margin-right: 14px;
    background: url(../images/version_img.jpg) no-repeat;
}

.version:hover .hover_version {
    display: block;
    animation: scale2 .3s;
}

.hover_version {
    width: 270px;
    height: 250px;
    /* margin-left: 2px; */
    z-index: 10;
}

.hover_version .version_img {
    width: 270px;
    height: 186px;
}

.new_version .development_log {
    width: 242px;
    height: 180px;
    margin-bottom: 16px;
    background: url(../images/log_img.jpg) no-repeat;
}

.development_log:hover .hover_mask {
    display: block;
}

.development_log .hover_mask {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    background: url(../images/dark70-bg-repeat.png) repeat;
    animation: opacityin .3s;
}

.hover_mask .hover_inner {
    height: 174px;
    background: url(../images/index-spr.png) no-repeat;
    background-position: -399px 3px;
    text-align: center;
    line-height: 174px;
}

.hover_inner .hover_log_info {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}

.hover_inner .title {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
    color: #cdbe91;
}

.hover_inner .subtitle {
    padding: 0 10px;
    font-size: 12px;
    color: #9d9c9c;
}

.new_version .new_model {
    position: absolute;
    top: 134px;
    width: 240px;
    height: 120px;
    background: url(../images/model_img.jpg) no-repeat;
}

.new_version .new_model:hover {
    background: url(../images/model_hover_img.jpg) no-repeat;
    transition: all .4s;
}

.new_version .week_free {
    float: right;
    width: 239px;
    height: 58px;
    line-height: 58px;
    background: url(../images/index-spr.png) no-repeat;
    background-position: -193px -253px;
    font-size: 16px;
    transition: filter .5s;
}

.new_version .week_free a {
    display: block;
    height: 100%;
    color: #fff;
    text-align: center;
}

.week_free:hover {
    filter: brightness(1.15);
}

.week_free .icon_left,
.week_free .icon_right {
    display: inline-block;
    width: 20px;
    height: 9px;
    background: url(../images/index-spr.png) no-repeat;
}

.week_free .icon_left {
    margin-right: 12px;
    background-position: -531px -226px;
}

.week_free .icon_right {
    margin-left: 8px;
    background-position: -506px -226px;
}

.week_free .arrow {
    background-position: -342px -99px;
}

.week_free:hover {}

.hover_week_free {
    position: absolute;
    top: 71px;
    right: 0;
    padding: 8px 10px 5px 0;
    box-shadow: 0 0 20px #aaa;
    background-color: #fff;
    overflow: hidden;
}

.hover_week_free .icon_triangle {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 14px;
    height: 7px;
    background: url(../images/index-spr.png) no-repeat;
    background-position: -556px -226px;
    z-index: 10;
}

.free_hore_list {
    width: 420px;
}

.free_hore_list .item {
    float: left;
    margin: 0 0 8px 10px;
    width: 50px;
    height: 50px;

}

.free_hore_list .item img {
    width: 100%;
    border-radius: 32px;
    border: 2px solid #bb9a6d;
}